.com_hd_bg {
    height: 300px;
    background: url(../css/img/original.jpg) no-repeat top center;
}
.hot_trial {
    height: 380px;
    background-color: aqua;
}
.hot_trial_in {
    height: 380px;
    width: 1000px;
    margin: 0 auto;
    background-color: blue;
}
.hot_trial_in h3 {
    line-height: 68px;
    font-size: 20px;
    height: 68px;
    color: #404e4e;
    background-color: brown;
}
.hot_trial_in_com {
    width: 1000px;
    
}
.hot_trial_in_ul {
    width: 1036px;
    height: 288px;
    background-color: cadetblue;
}
.hot_trial_in_ul li {
    float: left;
    width: 222px;
    height: 288px;
    background-color: chocolate;
    margin-right: 37px;
}